# Ansible writes this file. See the backup role.
RESTIC_REPOSITORY=s3:{{ backup_r2_endpoint }}/{{ backup_r2_bucket }}/{{ backup_repository_path }}
RESTIC_PASSWORD={{ backup_restic_password }}
AWS_ACCESS_KEY_ID={{ backup_r2_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ backup_r2_secret_access_key }}
# R2 uses the region "auto".
AWS_DEFAULT_REGION=auto
