[defaults]
inventory = inventory/hosts.yml
roles_path = roles
collections_path = .ansible/collections:~/.ansible/collections
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
deprecation_warnings = True
vars_plugins_enabled = host_group_vars,community.sops.sops

[ssh_connection]
pipelining = True
